body {
  background-color: #000;
  color: #fff;
}

section {
  height: 100vh;
}

i {
  font-size: 35px;
}

/*! locomotive-scroll v4.1.2 */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

/* Bootstrap */
.img-container {
  max-width: 900px;
  margin: auto;
}

.card-img {
  max-height: 100%;
}

/* Texts */
.secondary-text {
  color: #a3a3a3;
}

.text-btn {
  cursor: pointer;
  font-weight: bold;
}

/* About */
.about {
  position: relative;
}
@media (max-width: 1199px) {
  .about {
    margin-bottom: 10vh;
    padding-bottom: 10vh;
  }
}
@media (min-width: 1200px) {
  .about {
    margin-bottom: 35vh;
  }
}
.about_infos {
  max-width: 320px;
  position: relative;
  z-index: 0;
}
@media (min-width: 1000px) {
  .about_infos {
    padding-top: 7.5rem;
  }
  .about_infos.-padding {
    padding-top: 25vh;
  }
}
@media (max-width: 999px) {
  .about_infos {
    margin-bottom: 1.875rem;
  }
}
.about_infos_inner > * {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.about_infos_inner.is-inview > * {
  opacity: 1;
  transform: none;
}
.about_infos_inner.is-inview > :first-child {
  transition-delay: 0.06s;
}
.about_infos_inner.is-inview > :nth-child(2) {
  transition-delay: 0.12s;
}
.about_infos_inner.is-inview > :nth-child(3) {
  transition-delay: 0.18s;
}
.abouts_infos_text {
  margin-top: 1.25rem;
}
.text-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 95rem;
}
@media (max-width: 699px) {
  .text-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* @media (min-width: 700px) {
  .text-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
} */

.text-layout {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-layout_item {
  display: inline-block;
  font-size: 1rem;
  padding-left: 0;
  vertical-align: top;
  width: 100%;
}

.fixed_wrapper {
  background-color: rgba(0, 0, 0, 0.226);
  overflow: hidden;
  position: relative;
}
@media (min-width: 1000px) {
  .fixed_wrapper {
    height: 100vh;
  }
}
@media (max-width: 999px) {
  .fixed_wrapper {
    height: 50vh;
  }
}

.fixed_target {
  bottom: -100vh;
}
.fixed-image,
.fixed_target {
  left: 0;
  position: absolute;
  right: 0;
  top: -100vh;
}
.fixed-image {
  background-position: 50%;
  background-size: cover;
  height: 100%;
}
html:not(.has-scroll-smooth) .fixed-image {
  top: 0;
}
@media (min-width: 1000px) {
  .u-1\/3\@from-medium {
    width: 33.33333%;
  }
  .u-1\/2\@from-medium {
    width: 50%;
  }
  .u-2\/5\@from-medium {
    width: 40%;
  }
  .u-3\/5\@from-medium {
    width: 60%;
  }
}
.u-2\:1:before {
  padding-bottom: 50%;
}
.u-2\/2 {
  width: 100% !important;
}
.u-2\/3 {
  width: 66.66667% !important;
}
.u-2\/4 {
  width: 50% !important;
}
.u-2\/5 {
  width: 40% !important;
}
.u-3\/3 {
  width: 100% !important;
}
.u-3\/4 {
  width: 75% !important;
}
.u-3\/5 {
  width: 60% !important;
}

/* Skills */

.skills-progress {
  width: 100%;
}
